.common-home-bac {
  background-image: url("./../../assets/psm-home.jpg");

  background-repeat: no-repeat;
  /* Set the background size to a larger value to make the image appear larger than the container */
  background-size: 100% 100%; /* Adjust the percentage as needed */
  /* Center the image both horizontally and vertically */
  height: 100vh;

  /* Create a semi-transparent overlay with a dark color */
  /*background-color: rgba(9, 0, 0, 0.971); */
  /* Adjust the color and opacity as needed */
}
